spring.application.name=emailSender

# Configuração de email
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

# Email de destino (quem recebe as mensagens)
app.email.to=

# REDIS CONFIG
spring.redis.host=localhost
spring.redis.port=6379
spring.redis.password=